body {
    background: #f4f4f4;
}

html,
body {
    height: 100%;
}

.topnavbarspace {
  margin-bottom: 5vh;
}

.posts-list {
  height:80vh;
}

.post-container {
  overflow-y: scroll;
}

.post {
  margin: 2vh;
}

.avatarImg {
  width: 50%;
}
.avatar {
    padding: 15px 0;
}
.buttonBar {
    margin-top: 3vh; 
    padding-bottom: 5px;
}

/*
.devBorder {
    border: 2px solid red;
}

.devListBorder {
    border: 2px solid green;
}

.devPostBorder {
    border: 5px solid blue;
}

.postBorder {
    border: 2px solid red;
    border-radius: 5px;
}
*/
